language: cpp

dist: bionic
sudo: required

# Travis CI VM OSs -> 2 OSs
os:
  # - linux
  - osx

osx_image: 
  - xcode12.2

# Travis CI build matrix components -> 2 compilers
compiler:
  # - gcc
  - clang

# Travis CI environmental variables -> 2 env variables
env:
  - TRAVIS_BUILD_TYPE=Debug
  # - TRAVIS_BUILD_TYPE=Release

# Total builds: 8 = 2 [OSs] * 2 [comps] * 2 [env vars]

# You can install packages and sources for Linux using the APT addon, without
# running `apt-get` commands in your `before_install` script. You can also
# install macOS packages that are not included in the default OS X environment
# using Homebrew addon.
# See: https://docs.travis-ci.com/user/installing-dependencies/#installing-packages-with-the-apt-addon
# See: https://docs.travis-ci.com/user/installing-dependencies/#installing-packages-on-os-x
addons:
  homebrew:
    taps: nlohmann/json
    packages:
      - boost
      - nlohmann-json
      - armadillo
      - fmt
      - mlpack
      - ensmallen
      - spdlog
      - lua
    update: true
  apt:
    packages:
      - libopenblas-dev
      - liblapack-dev
      - libarpack2-dev
      - libsuperlu-dev
      - libboost-all-dev
      - libarmadillo-dev
      - nlohmann-json-dev
    update: true

git:
  submodules: false

before_install:

  # Making sure that travis can access baaraan
  - echo -e "machine github.com\n  login 95b20d5e703cf5c23463a5d312d66d82256594fe" > ~/.netrc
  - git submodule update --init --recursive
  
  # Configure Homebrew
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then export PATH="/usr/local/bin:$PATH"; fi

  # Print some more system information after installing all build tools
  - echo "-------------------- BEGIN SYSTEM INFORMATION --------------------"
  - uname -a
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then lsb_release -a;                     fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ];   then system_profiler SPSoftwareDataType; fi
  - env
  - which cmake
  - cmake --version
  - which $CC
  - $CC --version
  - which $CXX
  - $CXX --version
  - echo "--------------------  END SYSTEM INFORMATION  --------------------"

before_script:
  # Run CMake
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=${TRAVIS_BUILD_TYPE} ..
  # - cmake -DBUILD_TESTING:BOOL=ON -DCMAKE_BUILD_TYPE=${TRAVIS_BUILD_TYPE} ..

script:
  - cmake --build .
  # - make test