---
date: Fri Mar 15 2019
section: 3
title: TestResult
---

NAME
====

TestResult

SYNOPSIS
========

\

Public Member Functions
-----------------------

**TestResult** (double statistic, double pvalue, int side, double sig)\

Public Attributes
-----------------

double **statistic** = 0\

double **pvalue** = 0\

int **side** = 0\

bool **sig** = 0\

Author
======

Generated automatically by Doxygen for SAMpp from the source code.
